* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    border-style: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.fondo1 {
    margin: 10px;
    padding: 10px;

}
.fperfil {
    border-radius: 10px;
}